.link-to{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.link-to:hover{
    color: #fff;
}
p{
    margin: 0;
}
.fa-trash-alt{
    color: #e33232;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.fa-edit{
    color:#17a312;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}